.container-fluid {
  padding: 0 5%;
}

.body {
  font-family: "Inter", sans-serif;
}

.cartButton {
  border-radius: 50px;
  background-color: rgba(244, 15, 111, 1);
  margin-left: 30px;
}

.searchInput {
  border-radius: 50px;
  border-color: rgba(239, 60, 139, 1);
  size: 360px;
}

.virticalLine {
  border: 0.5px solid rgba(0, 0, 0, 0.6);
  height: 80%;
  width: 0.5px;
  position: absolute;
  top: 8px;
  right: 95px;
}

.navbar {
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.25);
}

.catagoriesDropdown {
  background-color: rgba(245, 204, 220, 1);
  border-radius: 0;
  width: 240px;
  height: 45px;
  padding-left: 20px;
  text-align: left;
}

.catagories {
  height: 45px;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.25);
}

.categoriesButtons {
  margin-top: 6px;
}
.offersButton {
  background-color: rgba(71, 29, 107, 1);
  color: white;
  border-radius: 30px;
}

.sellerButton {
  background-color: rgba(235, 90, 154, 1);
  color: white;
  border-radius: 30px;
}

.campaignButton {
  background-color: rgba(145, 59, 219, 1);
  color: white;
  border-radius: 30px;
}

.horizontalLine {
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.25);
}

.productCard {
  border: none;
}

.btn-outline-dark {
  font-weight: 500;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.btn-outline-dark:hover {
  border-color: rgba(244, 15, 111, 1);
  background-color: white;
  color: rgba(244, 15, 111, 1);
}

.btn-outline-primary {
  border-color: rgba(244, 15, 111, 1);
}

.btn-outline-primary:hover {
  background-color: white;
  border-color: rgba(244, 15, 111, 1);
  color: rgba(244, 15, 111, 1);
}

.buyButton {
  background-color: rgba(145, 59, 219, 1);
  border-radius: 30px;
  height: 50px;
  width: 200px;
}

.addButton {
  background-color: rgba(244, 15, 111, 1);
  width: 200px;
  border-radius: 30px;
  height: 50px;
}

.productImg {
  object-fit: cover;
  height: 100%;
  width: auto;
}

.productName {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 0;
}

.productStock {
  color: rgba(32, 191, 6, 1);
  margin: 1px 0 10px;
}

.productPrice {
  font-weight: 600;
  font-size: 2rem;
  display: inline-block;
}

.productPriceBefore {
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  display: inline-block;
  margin: 0 10px;
  text-decoration: line-through;
}

.productDiscoundPercent {
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0;
}

.horizontalLine {
  margin: 15px 0;
}

.selectSize {
  margin-bottom: 10px;
}

#quantityButton {
  margin-left: 10px;
}

.btn-bg {
  margin-right: 15px;
  margin-bottom: 20px;
}

.shareIcon {
  float: right;
}

.bottomText p {
  display: inline;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
}

.bottomText i {
  display: inline;
  background-color: rgba(255, 241, 244, 1);
  padding: 10px;
  border-radius: 50%;
}

.bottomText div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.details {
  margin-top: 100px;
  background-color: rgba(255, 241, 244, 1);
  height: 60px;
  display: flex;
  align-items: center;
}

.details div {
  height: 30px;
  width: 5px;
  background-color: rgba(244, 15, 111, 1);
  margin: 0 15px 0 20px;
  border-radius: 3px;
}

.details h3 {
  font-weight: 600;
  font-size: 23px;
}

.productButtons button {
  background-color: white;
  border: none;
}

.productButtons {
  height: 60px;
}

.productButtons button:hover {
  color: rgba(244, 15, 111, 1);
  border-bottom: 1px solid rgba(244, 15, 111, 1);
}

.customerReivews {
  height: 50px;
  padding: 40px 0;
}

.reviewsData .name {
  font-weight: 700;
  font-size: 16px;
  display: inline;
}

.reviewsData .verified {
  color: rgba(32, 191, 6, 1);
  display: inline;
  margin-left: 20px;
  font-size: 12px;
}

.reviewsData .date {
  font-weight: 400;
  font-size: 10;
  margin-bottom: 8px;
}

.reviewsData .message {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.singleReviews {
  margin-bottom: 30px;
}

.profileImg img {
  padding: 3px;
  border-radius: 50%;
}

.btn-outline-denger {
  border-color: rgba(145, 59, 219, 1);
  color: rgba(145, 59, 219, 1);
  width: 200px;
  border-radius: 30px;
  margin-bottom: 15px;
}

.btn-outline-denger:hover {
  background-color: rgba(145, 59, 219, 1);
  color: white;
}

.reviewForm {
  margin-top: 30px;
}

.addReviewTxt h5 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.addReviewTxt p:first-child {
  font-size: 12;
  color: rgba(0, 0, 0, 0.6);
}

.addReviewTxt {
  margin-bottom: 35px;
}

.commentsInput {
  margin-bottom: 2rem;
}

.submitReviewButton {
  margin-top: 30px;
  margin-bottom: 30px;
}
